@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');
* { 
  margin: 0px; 
  padding: 0px; 
}
body{font-family: "Lato", sans-serif; font-size: 14px;}

.bg-blue{background:#233a95; }

.headerWrapper .top-strip{padding: 8px 0px; }
.headerWrapper .top-strip p{color:#fff; font-size: 12px; font-weight: 500;}

.headerWrapper .header{width: 100%; height: auto;padding: 10px 0px;}
.logoWrapper img{width: 100%;}